<html ng-app="app">

<head>
    <title>Activity Adder</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw=="
    crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A=="
    crossorigin="anonymous"></script>
</head>

<body ng-controller="ActivityController">
    <div class="container">
        <h1>{{title}}</h1>
        
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Search</strong>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="searchID">Enter ID:</label>
                    <input class="form-control" id="searchID" ng-model="CurrentID">
                    <button ng-click="search()" class="btn btn-primary">Search</button>
                </div>
            </div>
            <div class="panel-footer">
                {{person.PersonName.FullName}}
                {{errorMessage}}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"><strong>Activities</strong>
            </div>
            <div class="panel-body">
                <activity-Listing></activity-Listing>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><strong>Add Activity</strong></div>
                <div class="panel-body">
                    <div class="alert alert-default" ng-show="addActivityResponse != ''">{{addActivityResponse}}</div>
                    <div class="form-group">
                        <label for="activity-type">Activity Type:</label>
                        <input id="activity-type" ng-model="ActivityType" class="form-control">
                        <label for="activity-desc">Description:</label>
                        <input id="activity-desc" ng-model="ActivityDescription" class="form-control">
                        <label for="activity-thru">Thru Date:</label>
                        <input id="activity-thru" ng-model="ActivityThru" class="form-control">
                        <button ng-click="addActivity()" class="btn btn-primary" id="btnAddActivity">Add</button>
                    </div>
                </div>
            </div>

            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
            <script src="app.js"></script>

</body>

</html>