<div ng-repeat="item in salesItems.Items | limitTo:10">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>{{item.Name}}</strong>
        </div>
        <div class="panel-body">
            <strong>{{item.ItemId}}</strong>
            <BR />{{item.Description}}
            <BR />
            <BR /><strong>Cost: {{item.TempDefaultPrice | currency }}</strong>
            <BR /><button data-ng-click="addItem(item.ItemId, item.Name, item.TempDefaultPrice)" class="btn btn-primary">Add To Cart</button>    
        </div>
    </div>
</div>